@model InventoryApplication.ViewModel.ProductEntryCreateViewModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>
@section header{
    <h2 class=" ">Add Product</h2>
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/nepali.datepicker.v3.7.min.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label" hidden></label>
                    <input asp-for="ProductId" class="form-control" hidden/>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label ">Supplier Name</label>
                    <select asp-for="ProfileId" class="form-control form-group " asp-items="@(new SelectList(Model.Profiles,"Id","Name"))" >
                    </select>
                    <span asp-validation-for="ProfileId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label ">Quantity</label>
                    <input asp-for="Quantity" class="form-control" min="1"/>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label ">Rate</label>
                    <input asp-for="Rate" class="form-control" min="1"/>
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label ">Bill No</label>
                    <input asp-for="BillNo" class="form-control" />
                    <span asp-validation-for="BillNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label ">Vechile No</label>
                    <input asp-for="VechileNo" class="form-control DevFont"  style="font-size:20px; font-weight:bold"/>
                    <span asp-validation-for="VechileNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EntryDate" class="control-label " style="font-size:20px; font-weight:bold; color:black">Date</label>
                    <input asp-for="EntryDate" class="form-control " id=" " type="date" />
                    <span asp-validation-for="EntryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List </a>
                </div>
            </form>
        </div>
    </div>

    <div>

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
</body>

</html>
    <script src="~/js/nepali.datepicker.v3.7.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var mainInput = document.getElementById("nepaliDate");
        mainInput.nepaliDatePicker();
        ndpTriggerButton = true;
    };
</script>


